

#lbl { 
    padding: 10px; 
    margin-top: 5px;
    background: rgb(80, 158, 247); 
    display: table; 
    color: #fff; 
    width: 150px; 
    text-align: center; 
    border-radius: 50px; 
} 


